.house_details {

    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.6px;

}

.house_title {
    margin-top: 3rem;
    /* border: solid; */
    display: flex;
    justify-content: space-between;
}

.house_title h1 {
    font-weight: 700;
    font-size: 2.7rem;
    background: #076e80;
    background: linear-gradient(to bottom right, #265861 0%, #3f4545 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.average_Rating {
    font-size: 1.5rem;
}

.rating_icons {
    align-items: center;
    border-radius: 0.4rem;
    display: flex;
    background: rgb(66, 157, 187);
    background: linear-gradient(90deg, rgb(28, 99, 122) 1%, rgb(2, 63, 69) 99%);
    height: 2.3rem;
    justify-content: center;
    width: 5rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 2rem;
    margin-bottom: 0 !important;
}

.gallery {

    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .''first first . .';
    margin: 20px 0;
}
.img_block {
    width: 10vw;
    height: 10vh;
}

.gallery div img {
    width: 100%;
    display: block;
    border-radius: .8rem;
}

.gallery_carousel {
    grid-area: first;
}

.description {
    align-content: left;
    color: rgb(134, 128, 128);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-bottom: 0.4rem;
}

.price_div {
    margin-left: 0.3rem;
    width: 10rem;

    display: flex;
    font-size: large;
    background: rgb(41, 189, 192);
    background: radial-gradient(circle, rgba(41, 189, 192, 1) 1%, rgba(12, 151, 186, 1) 100%);
    color: white;
    padding: 6px 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}

.small_detials {
    display: flex;
    /* justify-content:space-between; */

}

.sub_div {
    width: 50vw;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}

.maindiv {
    width: 40vw;
    margin-top: 1rem;
    margin-left: 5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
} 

 .selection_div {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-top: 0.3rem; */
    /* padding: 0.3rem; */
    

}
.totalprice_div{
    /* border: solid; */
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    justify-content: space-between;
    padding: 0.3rem;
}

.price_heading{
    padding: 0.8rem;
    
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price_heading p{
    margin-top: 0 !important;
    font-size: 1.9rem;
    font-family: 'Times New Roman', Times, serif    ;
    font-weight: bold;
    letter-spacing: 0.1rem;
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
}
.totalrent{
    /* margin-right: 1rem; */
    /* border: solid; */
    padding: 0.9rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  
}
.dates{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: normal;
    margin-bottom: 0 !important;

}
.total_price1{
    margin-top: 0 !important;
    font-size: 1.6rem;
    font-weight: 900;
    /* border: solid; */
    padding-right: 0.3rem;
    margin-bottom: 0 !important;

}
.number_guests{
    margin: 0 !important;

}
.date_picker_dvi {

    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.6rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px  */
}





.guestscss {
    min-height: 44px;
    width: 100%;
    margin-right: none !important;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    padding: 0.7em;
    border: none !important;
    border-radius: 5px;
    /* box-shadow: 2px 3px 2px  rgba(190, 182, 182, 0.986); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_div{
    margin-top: 0rem !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding-bottom: 1rem;
    background: #045f9c;
    
    
/* background: rgb(117,235,217);
background: linear-gradient(90deg, rgba(117,235,217,1) 0%, rgba(246,251,250,1) 88%); */
   
}
.aisehi{
    width: 100vw;
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
   /* border: solid; */
   justify-content: space-around;
}
.rescearch_div{
    padding: 0.3rem;
    width: 20vw;

}

.datecss {
    opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	background-color:#000;
    margin-right: none !important;
    font-size: 1rem;
    /* margin-bottom: 0.3rem; */
    padding: 0.7em;
    border: none !important;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* margin-top:0.3rem ; */

    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.guests_div input{
    /* width: 17vw !important; */
    /* width: auto; */
    
    
}
.guests_div ::placeholder{
    color: white;
}

.placeholder_guets{
    /* margin-right: none !important; */
    font-size: 1rem;
    padding: 0.7em;
    color: white;
    font-weight: 900;
    border: none !important;
    border-radius: 5px;
    /* background: #fafdff; */
    opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	background-color:rgb(0, 0, 0);
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    
}
.rescearch_div ::placeholder{
    color: white;
}
.start_date  ::placeholder{
    color: white;
}
.end_date  ::placeholder{
    color: white;
}
.auto{
    border-radius: 1px;
    background: rgb(27,171,102);
background: linear-gradient(90deg, rgba(27,171,102,1) 0%, rgba(136,235,210,1) 88%);
}

.small_detials h1 {
    font-size: 1.5rem;

}

.reserve_button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}


.text_price {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

.perday {
    font-size: large;
    display: flex;
    align-items: center;

}

.text_location {


    font-size: 1.2rem;
    color: #6e6c6c;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.text_guests {
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    font-size: 1.4rem;
    color: #3d3d3d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.small_detials p {

    margin-top: 0.3rem;
    display: flex;
}

.homestay_details {
    margin-left: 10px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    border-radius: 0.4rem;

    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);

    padding: 1% 1%;
}

.station_details {
    margin-left: 10px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    border-radius: 0.4rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    padding: 1% 1%;
}

.homestay_details h6 {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 0;
}

.homestay_details span {
    margin-left: 5px;
    font-size: larger;
    font-weight: 700;
}

.rules {
    margin-top: 1.4rem;
}

.rules h4 {
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: .3rem;
    background: #CF1319;
    background: linear-gradient(to bottom right, #CF1319 0%, #1C0302 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.regulations {
    padding-left: 0.8rem;
    font-size: 1.3rem;
}

.badges_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 60vw;
    margin: 1rem;
}

.rules h6 {

    margin-bottom: 0.5rem;
}


.beds h6 {
    margin-bottom: 0.2rem;
}

.bus,
.railway,
.airport {
    font-size: 0.9rem;
}

.check_in_time {
    font-size: large;
}

.rating_div {
    padding: 1% 1%;
    margin-top: 1rem;
}
/* location nearby*/
.pop_locations {
    margin-right: 0.5rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.6rem;
}
.pop_locations strong{
    background: #118A6D;
background: repeating-linear-gradient(to top right, #118A6D 0%, #025d54 43%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.popular_container {
    display: flex;
    justify-content: center;
    flex-direction: row;

    align-items: center;

    width: 100%;
    margin-bottom: 1rem;
}
.location_div p{
    
    display: flex;
}
.comment_user1 {
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    display: flex;
    
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;

}
.comment_user1 p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment_user1 strong{
    margin-left: 0.3rem;
}

.profile1{
    display: flex;
   
}






.user_rating {
    margin-right: 0.5rem;
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.rating_div span {
    font-size: large;
}

.rating_tab {
    display: grid;
    grid-template-columns: 100px 1fr;
    /* border: solid; */
    /* padding: 0.5% 0.5%; */
    align-items: center;

}

.add_buttons {


    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;

}



.review_answere {
    color: #2e7775;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 14px;
}

.line {
    border: black;
    height: 1px;
    border-width: 2px;
    background: rgb(28, 28, 28);
    width: 100%;
    margin-bottom: 3px;
}

.reviews_container {
    display: flex;
    justify-content: center;
   
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}

.box {
    width: 55vw;
    background-color: white;
    padding: 1%;
    margin: 15px;
    cursor: pointer;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



.profile {
    display: flex;
    flex-direction: column;
}

.name_user {
    display: flex;
}

.name_user strong {
    color: #5c5959;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    /* letter-spacing: 0.5px; */
    margin-left: 0.5rem;
}

.comment_user {
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;

}

.username_Review {

    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
    color: #6f6a6a;
    font-size: large;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}


.reviews p {
    color: #4c4e4f;
    font-size: 1.2rem;
}

.box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comments_client p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}



.userReview {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 1rem;
}

.stars {

    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.faltu {
    margin-right: 10;
    cursor: pointer;
}

.rating_value {
    margin-top: .2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}



@media screen and (max-width: 800px) {


    .house_details {

        padding-right: 1%;
        padding-left: 5%;

    }

}


@media screen and (max-width: 700px) {


    .house_details {

        padding-right: 0%;
        padding-left: 5%;

    }

}


@media screen and (max-width: 1268px) {
    .date_picker_dvi {


        flex-direction: column;

    }

    .datecss {
        min-height: 44px;
        width: 100%;
        margin-bottom: 0.8rem;

    }

}

@media screen and (max-width: 945px) {

    .maindiv {
        height: fit-content;
    }
}