/* .container {
    display:flex;
    flex-direction:column;
    justify-content: left;
    padding-left: 1rem;
  }
  .stars {
   
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .faltu{
    margin-right: 10;
    cursor: pointer;
  }
  .rating_value{
      margin-top: .2rem;
      margin-left: 1rem;
      font-size: 1.5rem;
  }
 */



 

 